/* 새로운 Todo를 등록하는 공간 CSS */

/*
1. 입력 폼, 버튼을 감싸는 요소에 스타일 설정(너비 100% display = flex + 자식 요소 간격은 10px)
2. 입력 폼에 스타일 설정, 해당 요소의 너비를 브라우저의 크기에 따라 달라짐
3. 입력 폼 클릭시 스타일 설정, outline 속성 = none, 경계선 생김 방지 색상은 파란색으로
4. 입력 폼 오른쪽에 위치할 버튼 스타일 설정. cursor = pointer로 설정 버튼에 위치할시 커서 모양 변경 */

.TodoEditor .editor_wrapper {
    width: 100%;
    display: flex;
    gap: 10px;
}

.TodoEditor input {
    flex: 1;
    box-sizing: border-box;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 5px;
    padding: 15px;
}

.TodoEditor input:focus {
    outline: none;
    border: 1px solid #1f93ff;
}

.TodoEditor button {
    cursor: pointer;
    width: 80px;
    border:none;
    background-color: #1f93ff;
    color: white;
    border-radius: 5px;
}