/* 최상위 컴포넌트 CSS */

/* 1. [할 일 관리] 앱 페이지 최대 너비 500px로 고정
   2. 페이지 너비 브라우저 100% 설정(500px 이상으로 늘어나진 않음)
   3. 여백 위아래 0으로 자동 설정
   4. box-sizing - 요소의 크기의 기준을 border-box로 설정, 내부 여백이
      요소의 크기에 영향을 미치지 않도록 설정
   5. 내부 여백을 20px로 설정
   6. 경계선을 1px 두께의 회색 실선으로 표시 - 삭제 예정
   -----------------------------------------------------
   7. 페이지의 요소를 설정(flex)
   8. 플렉스 컨테이너에 있는 요소 배치 방향 조절(수평 배치)
   9. gap = 컴포넌트에서 자식 요소 간의 여백을 조절하는 속성 */

.App {
  max-width: 500px; 
  width:  100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 20px;
  /* border:  1px solid gray; */
  display: flex;
  flex-direction: column;
  gap: 30px;
}